* {
	text-decoration: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.form-control.selectdata {
	padding: 8px 20px;
}

form.safewatch-form.job-forms .form-group select.form-control {
	background-image: url(../images/select-arrow.png);
	background-repeat: no-repeat;
	background-position: 95% center;
	background-size: 6%;
	-moz-appearance: none;
	-webkit-appearance: none;
}

select.form-control {
	background-image: url(../images/select-arrow.png);
	background-repeat: no-repeat;
	background-position: 95% center;
	background-size: 6%;
	-moz-appearance: none;
	-webkit-appearance: none;
}

span.star {
	color: #ff0000;
}

form.safewatch-form.job-forms .form-group.exclude-check label {
	font-size: 14px;
	text-align: left;
	float: left;
	top: 7px;
	left: 3px;
	background: inherit;
}

.form-group.exclude-check {
	position: absolute !important;
	background: #edfbfd;
	height: 30px;
	width: 100%;
	top: 10px;
	border-radius: 5px;
}

.form-group.delete-group {
	margin-bottom: 40px;
}

.exclude-check .formfield input:checked~.checkmark {
	border: 1px solid #eb5780;
	background: #fff;
}

.exclude-check .formfield .checkmark {
	width: 15px;
	height: 15px;
	border: 1px solid #eb5780;
	right: -25px;
	border-radius: 3px;
}

.exclude-check .formfield .checkmark:after {
	left: 4px;
	top: 1px;
	width: 5px;
	height: 10px;
	border: solid #eb5780;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.header .navbar-light .navbar-toggler {
	color: #fff;
	border-color: #fff;
}

.header .navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
	font-family: 'Heebo';
	font-weight: 500;
	color: #656464;
	background: #e0e0e0;
}

p {
	font-weight: normal;
	font-size: 15.64px;
}

a {
	text-decoration: none!important;
	transition: .4s ease-in-out;
}

ul,
p {
	margin: 0;
}

ul li {
	list-style: none;
}

img {
	max-width: 100%;
}
.new-brand{
    width:20%;
}

button {
	outline: none!important;
}

section.banner.bg-contact {
	background-image: none;
	background-color: #ed727f;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 3333;
}

.container-fluid {
	padding-right: 40px;
	padding-left: 40px;
}

.header .head_bg {
	background: #474b9a;
	padding: 23px 0px;
}

.header .navbar {
	align-items: center;
}

.header .navbar-nav li a {
	color: #ffffff!important;
	font-size: 15.64px;
	text-transform: capitalize;
}

.header .navbar-nav li {
	margin-left: 30px;
	display: flex;
	align-items: center;
}

.header .navbar-nav li a.active {
	border-bottom: 1px solid #ffffff;
}

.btn-pink {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #eb5780;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px 6px;
}

.btn-yellow {
	background: #f6c77b;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px 6px;
}

.header .navbar .navbar-nav {
	align-self: center;
}

section .home_login .banner {
	min-height: inherit;
	align-items: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 8rem;
}

section .home_login .banner-in h1 {
	margin-bottom: 0px;
}

section .home_login .banner-in p {
	font-weight: 600;
	font-size: 40px;
}

section .home_login .auth_login {
	padding-left: 15px;
}

.banner {
	padding-top: 10rem;
	padding-bottom: 5rem;
	position: relative;
	background: #eb5880;
	display: flex;
	align-items: center;
	justify-content: left;
	background-image: url(../images/BA.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 20px;
}

.banner.login-baner {
	min-height: 100vh;
}

.bg-contact.banner {
	align-items: inherit;
}

.banner.banner-in .row {
	align-items: flex-start;
	display: flex;
}

.banner.banner-in .banner-img {
	display: block;
	align-items: center;
	justify-content: center;
}

.banner.banner-in h1 {
	color: #ffffff;
	font-size: 60px;
	margin-bottom: 40px;
	line-height: 74px;
	font-weight: 400;
}

.banner.banner-in h1 span {
	display: block;
}

.banner.banner-in .banner-btn {
	display: flex;
	align-items: center;
}

.banner .banner-btn .btn-yellow {
	font-size: 29px;
	color: #ffffff;
	padding: 10px 50px;
	border: none;
}

.banner .banner-btn .btn-yellow:hover {
	background: #fff;
	color: #f6c77b;
}

.herotabs {
	position: relative;
	padding: 30px 0 0;
	background: #fff;
	padding-bottom: 13px;
	padding-top: 13px;
	overflow: hidden;
}

.herotabs-ul {
	justify-content: center;
}

.herotabs-ul .herotabs-li {
	margin: 0 10px;
	max-width: 23%;
	width: 23%;
}

.herotabs-ul .herotabs-li .herotabs-active {
	width: 100%;
	height: 250px;
	padding: 30px;
	border-radius: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	background-image: linear-gradient(to right, #f0907d, #f6c27b);
	transition: .0s ease-in-out;
}

.herotabs-ul .herotabs-li .herotabs-active h5 {
	font-size: 34px;
	color: #ffffff;
	margin: 0;
	text-transform: capitalize;
}

.herotabs-ul .herotabs-li .herotabs-active p {
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-transform: capitalize;
}

.herotabs-ul .herotabs-li .herotabs-active p i {
	margin-left: 10px;
	transition: .4s ease;
}

.herotabs-ul .herotabs-li .herotabs-active:hover i {
	transform: translateX(10px);
}

.herotabs-ul .herotabs-li .herotabs-active.active {
	position: relative;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.herotabs-ul .herotabs-li .herotabs-active.active h5:after {
	width: 100%;
	height: 13px;
	background: #3b57ab;
	content: '';
	position: absolute;
	left: 0;
	bottom: -13px;
}

.herotabs-ul .herotabs-li:first-child .herotabs-active.active:after {}

.herotabs-ul .herotabs-li .herotabs-active.active:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url("../images/left.png");
}

.herotabs-ul .herotabs-li:nth-child(1) .herotabs-active.active {
	background: linear-gradient(to bottom, #3b5aad 0%, #3b57ab);
}

.herotabs-ul .herotabs-li:nth-child(2) .herotabs-active.active {
	background: linear-gradient(to bottom, #3b5aad 0%, #3b57ab);
}

.herotabs-ul .herotabs-li:nth-child(3) .herotabs-active.active {
	background: linear-gradient(to bottom, #3b5aad 0%, #3b57ab);
}

.herotabs-ul .herotabs-li:last-child .herotabs-active.active {
	background: linear-gradient(to bottom, #3b5aad 0%, #3b57ab);
}

.herotabs-content {
	padding: 30px;
	background-image: linear-gradient(to bottom, #3741a2 -20%, #4cbed7);
}

.herotabs-content-left {
	max-width: 100%;
}

.herotabs-content-in .herotabs-content-left h2 {
	font-size: 64px;
	color: #ffffff;
}

.herotabs-content-in .herotabs-content-left p {
	font-size: 24px;
	color: #ffffff;
}

.herotabs-content-in .herotabs-content-left ul {
	border: 1px solid #ffffff;
	border-radius: 20px;
	padding: 30px;
	margin-top: 40px;
	position: relative;
	border-top: 0;
}

.herotabs-content-in .herotabs-content-left ul:after {
	content: '';
	position: absolute;
	top: 0;
	right: 17px;
	width: 65%;
	background: #ffffff;
	height: 1px;
}

.herotabs-content-in .herotabs-content-left ul h5 {
	font-size: 30px;
	color: #ffffff;
	position: absolute;
	top: -20px;
	background: transparent;
	padding: 0 10px;
	left: 20px;
	text-transform: capitalize;
}

.herotabs-ul .herotabs-li .herotabs-active.active:after {
	content: '';
	position: absolute;
	bottom: -19px;
	left: -34px;
	background-image: url(../images/left.png);
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
}

.herotabs-ul .herotabs-li .herotabs-active.active:before {
	content: '';
	position: absolute;
	bottom: -19px;
	right: -34px;
	background-image: url(../images/right.png);
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
}

.herotabs-content-in .herotabs-content-left ul li {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.herotabs-content-in .herotabs-content-left ul li:last-child {
	margin-bottom: 0;
}

.herotabs-content-in .herotabs-content-left ul li img {
	margin-right: 20px;
}

.herotabs-content-in .tab-img {
	display: block;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.herotabs-ul .herotabs-li .herotabs-active.active p {
	display: none;
}

.footer {
	padding: 25px 0;
	padding-left: 15px;
	width: 100%;
	background: #fff;
	text-transform: capitalize;
}

.footer p {
	font-size: 18px;
	color: rgb(100, 102, 124);
}

.member_label {
	color: #47519d;
	font-size: 15px;
	line-height: 20px;
}

form.login-form label {
	font-size: 26px;
	color: #ffffff;
}

form.login-form .form-control {
	display: block;
	width: 100%;
	height: auto;
	padding: 20px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: none;
	border-radius: 5px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	outline: none;
	box-shadow: none;
}

form.login-form h1 {
	margin-bottom: 20px!important;
}

.banner-in p {
	color: #ffffff;
	font-size: 30px;
}

form.login-form p {
	color: #ffffff;
	font-size: 42px;
	margin-bottom: 30px;
	line-height: 55px;
	font-weight: 400;
}

.header .navbar-nav li a i {
	margin-right: 10px;
}

.header .navbar-nav li:hover {
	border-bottom: 1px solid #fff;
}

.herotabs-content-in .user-index {
	position: relative;
}

.herotabs-content-in .user-index h2 {
	font-size: 64px;
	color: #ffffff;
}

.herotabs-content-in .user-index .userindex-ul {
	position: relative;
}

.herotabs-content-in .user-index .userindex-ul li a {
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-left: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #98cee2;
	position: relative;
}

.herotabs-content-in .user-index .userindex-ul li a .index-detail p,
.herotabs-content-in .user-index .userindex-ul li a .index-date {
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
}

.herotabs-content-in .user-index .userindex-ul li a:after {
	font-size: 20px;
	font-family: FontAwesome;
	position: absolute;
	left: 0;
	top: 5px;
}

.herotabs-content-in .user-index .userindex-ul li a.dot-li:after {
	content: '\f111';
	color: #eb5780;
}

.herotabs-content-in .user-index .userindex-ul li a.mark-li:after {
	content: '\f00c';
	color: #4cc2d9;
}


/*.herotabs-content-in .user-index .userindex-ul li a.doller-li:after{

	content: '\f155';

	color: #4cc2d9;

	 

}*/


/*.herotabs-content-in .user-index .userindex-ul li a.doller-li:after {
    content: '';
    background-image: url(/safewatch-app/public/theme/images/dolllar-white.png);
    width: 24px;
    height: 28px;
}*/

.owl-carousel .owl-item .dollar-img {
	float: left;
	width: 30px;
	margin-left: -45px;
}

.owl-carousel .owl-item .paid-img {
	width: 70px;
	float: left;
	position: relative;
	left: -31px;
	top: -10px;
}

.user-index .title.annual-txt {
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.borderline {
	border-bottom: 2px solid #98cee2;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

span.bg-green-txt {
	padding: 13px;
	width: 180px;
	background: #47489f;
	height: 113px;
	border-radius: 40px;
	float: left;
	display: flex;
	align-items: center;
	font-size: 33px;
	color: #ffffff;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

span.bg-green-txt p {
	font-size: 50px;
	line-height: 0.8;
	color: #fff;
}

.superadmin-area {
	width: 100%;
	height: auto;
	background-image: linear-gradient(to right, #f0907d, #f6c27b);
	clear: both;
	padding: 30px;
	margin-top: 27px;
}

.contain-area {
	padding: 30px;
}

.w-500 {
	width: 558px;
}

.manage-client-dropdown-block.tbl-content span {
	line-height: 20px;
}

.herotabs-content-in .superadmin-area.user-index h4.subtitle {
	font-size: 30px;
	margin-top: 35px;
	margin-bottom: 30px;
}

.manage-client-dropdown-block.tbl-content .Thompson-Broadley {
	padding: 12px 20px;
}

.mtp {
	margin-top: -16px;
}

.w0 {
	width: 565px;
}

.w1 {
	width: 153px;
}

.w2 {
	width: 151px;
}

.w11 {
	width: 149px;
}

.herotabs-content-in .superadmin-area.user-index h2 {
	font-size: 55px;
	color: #ffffff;
	margin-bottom: 20px;
}

.modal.agnt-model .modal-dialog {
	max-width: 995px;
	margin-top: 124px;
	background: #fff;
}

.btnngreen {
	border: none;
	width: 165px;
	height: 50px;
	border-radius: 10px;
	background: linear-gradient(to right, #4dd0a2, #4dd0db);
	font-size: 22px;
	color: #ffffff;
	font-weight: 400;
}

.innr-form.row {
	justify-content: center;
}

.ww-80 {
	width: 80px;
}

.mtm {
	margin-left: 5px;
}

.btnnred {
	border: none;
	width: 100px;
	height: 50px;
	border-radius: 10px;
	margin-left: 10px;
	background: linear-gradient(to right, #eb5980, #f07f7e);
	font-size: 22px;
	color: #ffffff;
	font-weight: 400;
}

.modal-footer.ftr {
	justify-content: space-between;
}

.w22 {
	width: 188px;
}

.no-pdg {
	padding: 0px;
}

ul.btn-txt-content {
	background-image: linear-gradient(to right, rgb(241, 147, 125), rgb(246, 192, 123));
	border-radius: 10px;
	width: 100%;
	float: right;
	box-shadow: 2px 5px 8px 0px #ccc;
	width: 265px;
	height: 30px;
}

.slider-table td .btn-txt-content button {
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	border: none;
	padding: 0px;
	border-radius: 1px;
	background-image: none;
	float: right;
	top: 0px;
	position: relative;
	line-height: 12px;
	background: transparent;
}

ul.manage-agent-client-txt {
	background: #fff;
	border-radius: 23px;
	padding: 15px 0px;
	width: 430px;
}

ul.manage-agent-client-txt li {
	display: inline-block;
	border-right: 1px solid #e7e7e7;
	padding: 0px 27px;
	text-align: center;
}

ul.manage-agent-client-txt li h3 {
	color: #3b58ac;
	font-size: 20px;
}

ul.manage-agent-client-txt li p {
	font-size: 40px;
	line-height: 30px;
}

.manage-client-dropdown-block.tbl-content .Thompson-Broadley .broadley-header {
	border-bottom: 4px solid #ffffff7d;
	padding-bottom: 8px;
	margin-bottom: 9px;
}

ul.manage-agent-client-txt li:last-child {
	border: none;
}

ul.btn-txt-content li {
	display: inline-block;
	padding: 5px 15px;
}

ul.btn-txt-content li:last-child {
	border-left: 2px solid #fff;
}

.bg-green-txt.whte {
	background: #fff;
	margin-left: -32px;
	position: relative;
	padding-left: 46px;
	left: -20px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0;
	width: 152px;
}

.mlft {
	margin-left: 24px;
}

span.bg-green-txt.rd {
	background: #fe467f;
}

span.bg-green-txt h3 {
	font-size: 20px;
}

.bg-green-txt.whte p {
	color: #333;
}

.bg-green-txt.whte h3 {
	color: #47489f;
}

.lft {
	float: left;
	z-index: 99;
	position: relative;
}

.slider-table.annual-txt-tble .table-th,
.slider-table.annual-txt-tble td,
.saved-year.text-white .savedyear-block .savedyear-blockin p,
.user-index .slider-footer p {
	color: #5d667b;
}

.herotabs-content-in .user-index .annual-txt h2 {
	font-size: 40px;
}

.user-index .title.annual-txt p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.herotabs-content-in .user-index .userindex-ul li a.doller-li::after:hover {
	content: '';
	background-image: url(/safewatch-app/public/theme/images/green-white.png);
	width: 24px;
	height: 28px;
}

.herotabs-content-in .user-index .userindex-ul li a.doller-li {
	opacity: 1;
	transition: .3s ease;
}

.herotabs-content-in .user-index .userindex-ul li a.doller-li-status {
	opacity: 1;
	transition: .3s ease;
}

.banner .banner-in h1 {
	color: #ffffff;
	font-size: 60px;
	margin-bottom: 40px;
	line-height: 74px;
	font-weight: 400;
}

.herotabs-content-in .user-index .userindex-ul li a.doller-li p.index-date {
	position: relative;
}


/*.herotabs-content-in .user-index .userindex-ul li a.doller-li  p.index-date:before {
    content: "";
    background-image: url(/safewatch-app/public/theme/images/paid-img.png);
    width: 80px;
    height: 80px;
    position: absolute;
    left: -97px;
    top: -10px;
}*/

.herotabs-content-in .user-index .userindex-ul li a.doller-li:hover {
	opacity: 1;
}

.userindex-slider-block .backbtn a {
	margin-bottom: 20px;
	color: #ffffff;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

.userindex-slider-block .backbtn i {
	margin-right: 10px;
}

.userindex-slider {
	padding: 30px;
	position: relative;
	background: #ffffff;
	border-radius: 30px;
}

.userindex-slider-block .userindex-slider .slider-header .title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.userindex-slider-block .userindex-slider .slider-header {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #98cee2;
	position: relative;
}

.userindex-slider-block .userindex-slider .slider-header .title p {
	font-size: 20px;
	color: rgb(100, 100, 100);
}

.userindex-slider-block .userindex-slider .slider-header .title h4 {
	color: rgb(71, 75, 154);
	font-size: 36px;
}

.userindex-slider-block .userindex-slider .slider-header .title .icon {
	color: rgb(71, 75, 154);
	font-size: 20px;
}

.slider-table th,
.slider-table td {
	padding: 5px 5px;
}

.slider-table .table-th {
	font-size: 20px;
	color: #474b9a;
}

td.w-90 {
	width: 840px;
}

.slider-table td {
	font-size: 24px;
	color: #656464;
	font-weight: 400;
	vertical-align: middle;
}

.text-green {
	color: #4dd097!important;
}

.text-main {
    font-weight:600;
	color: rgb(71, 75, 154)!important;
}

.text-pink {
	color: #f15b80!important;
}

.saved-year {
	position: relative;
	margin-top: 30px;
}

.table tbody tr {
	border-bottom: 1px solid #e8e7e7;
}

.saved-year .savedyear-block {
	padding: 40px 30px;
	position: relative;
	border: 1px solid #b2ebf2;
	border-radius: 30px;
	height: 154px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.saved-year .savedyear-block .savedyear-blockin {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.saved-year .savedyear-block .savedyear-blockin p {
	font-size: 24px;
}

.saved-year .savedyear-block .savedyear-blockin p.text-main {
	font-weight: bold;
	font-size: 28px;
}

.saved-year .savedyear-block .savedyear-blockin p.box-green {
	position: absolute;
	right: 0;
	padding: 44px;
	background: #4dd097;
	top: 0;
	border-radius: 30px;
	color: #ffffff;
	height: 154px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-footer {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #b2ebf2;
	position: relative;
}

.slider-footer p {
	font-size: 18px;
}

.slider-footer ul {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 30px;
}

.slider-footer ul li {
	margin-right: 0px;
	display: flex;
	align-items: flex-start;
	width: 20%;
	flex: 0 0 30%;
}

.slider-footer ul li img {
	margin-right: 20px;
	width: 44px !important;
}

.owl-carousel-blog .owl-dots {
	display: none;
}

.owl-carousel-blog .owl-nav {
	margin-top: 0;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	position: absolute;
	top: -60px;
	right: 20px;
}

.owl-carousel-blog .owl-nav button {
	box-shadow: none;
	outline: none;
	background: transparent!important;
}

.owl-carousel-blog .owl-nav button span {
	border: none!important;
	font-size: 30px;
	color: #ffffff!important;
}

.slider-table td p {
	font-size: 20px;
}

form.safewatch-form .form-group {
	position: relative;
	text-align: center;
	display: block;
}


/* form.safewatch-form .form-group:after {

    content: '';

    position: absolute;

    top: 0;

    right: 16px;

    width: 40%;

	height: 1.5px;

    background: #e0e0e0;

} */

form.safewatch-form .form-group label {
	position: absolute;
	z-index: 20;
	top: -10px;
	left: 22px;
	color: #47519d;
	/* font-size: 18px; */
	background: #ffffff;
	margin: 0;
	line-height: 20px;
	font-size: 15px;
	padding: 0 5px;
}

form.safewatch-form .form-group .form-control {
	background: #fff;
	height: auto;
	padding: 15px 20px;
	border-radius: 20px;
	position: relative;
	border-top: 0;
	outline: none;
	box-shadow: none;
	border: 1.5px solid #e0e0e0;
	/* border-top: none; */
	font-size: 18px;
}

#ui-datepicker-div {
	z-index: 9999 !important;
}

#lhc input::placeholder {
	font-size: 14px;
}

form.safewatch-form.job-forms .form-group .form-control::placeholder {
	font-size: 14px;
}

form.safewatch-form .form-group .form-control::placeholder {
	color: #646464;
	font-weight: 600;
	font-size: 14px;
}

form.safewatch-form .border-line {
	position: relative;
	height: 2px;
	width: 100%;
	background: transparent;
	padding: 15px 0px;
	border-top: 1.5px solid #e0e0e0;
}

.userindex-slider .nav-tabs {
	padding: 0 40px;
	border-bottom: none;
}

.userindex-slider .nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px 30px;
	font-size: 18px;
	color: #646464;
	background: linear-gradient(to top, #c9c9c9 50%, #ffffff);
	border-bottom: none!important;
	margin: 0 10px;
	border-color: transparent!important;
	position: relative;
	transition: 0s ease;
}

.userindex-slider .nav-tabs .nav-link:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: -13px;
	background-image: url(../images/ar.png);
	width: 13px;
	height: 13px;
	background-repeat: no-repeat;
	background-size: contain;
}

.userindex-slider .nav-tabs .nav-link.active:after {
	background-image: url(../images/ar-white.png);
	z-index: 10;
}

.userindex-slider .nav-tabs .nav-link.active:before {
	background-image: url(../images/lr-white.png);
	z-index: 10;
}

.userindex-slider .nav-tabs .nav-link:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: -13px;
	background-image: url(../images/lr.png);
	width: 13px;
	height: 13px;
	background-repeat: no-repeat;
	background-size: contain;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	color: #3e67b2!important;
	background: rgb(255, 255, 255);
	border-color: #dee2e6 #dee2e6 #fff;
}

.userindex-slider .contact-tab {
	padding: 30px;
	background-color: #ffffff;
	border-radius: 30px;
}

.formbtn-group {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.formbtn-group button {
	padding: 10px 35px;
	border-radius: 10px;
	border: none;
	outline: none;
	box-shadow: none;
	margin-right: 30px;
	color: #ffffff;
	font-size: 18px;
}

.bg-green {
	background: linear-gradient(to right, #4dd097 0%, #4dd097)!important;
}

.bg-red {
	background: linear-gradient(to right, rgb(235, 89, 128) 0%, rgb(240, 139, 125))!important;
}

.overview-block {
	padding: 40px 0;
	background: linear-gradient(to right, rgb(240, 142, 125), rgb(246, 196, 123));
	position: relative;
}

.overview-block .overview-tile {
	display: flex;
	border: 1px solid #ffffff;
	border-radius: 15px;
}

.overview-block .overview-tile li {
	padding: 20px;
	width: 100%;
}

.overview-block .overview-tile li.fix-tile {
	background: #ffffff;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 50%;
}

.parsonal-assitance-tabs .herotabs-li .herotabs-active {
	height: 200px;
}

.overview-block .overview-tile li.fix-tile p {
	font-size: 42px;
	font-weight: 600;
	color: #ed627f;
}

.overview-block .overview-tile li h4 {
	font-size: 32px;
	color: #ffffff;
}

.overview-block .overview-tile li .overview-detail .overview-detailin p {
	font-size: 36px;
	font-weight: 600;
}

.overview-block .overview-tile li .overview-detail {
	position: relative;
}

.overview-block .overview-tile li .overview-detail .overview-detailin {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.overview-block h2 {
	color: #ffffff;
	font-size: 54px;
}

.slider-table td button {
	text-align: center;
	font-size: 10px;
	color: #ffffff;
	border: none;
	padding: 5px 16px;
	border-radius: 10px;
	background-image: linear-gradient(to right, rgb(77, 208, 159), rgb(77, 208, 219));
	float: right;
	top: 0px;
	position: relative;
	line-height: 12px;
}

.slider-table td .view-red {
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	border: none;
	padding: 8px 15px;
	border-radius: 10px;
	background-image: linear-gradient(to right, rgb(241, 147, 125), rgb(246, 192, 123));
	float: right;
	top: 0px;
	position: relative;
}

.membership-month {
	position: relative;
	/* padding: 20px; */
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: #ffffff;
	border-radius: 40px;
}

.membership-month .orange-box {
	padding: 20px;
	min-width: 200px;
	background-image: linear-gradient(to right, #f0907d, #f6c47b);
	min-height: 140px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: #ffffff;
}

.membership-month ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.membership-month ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-right: 1px solid rgb(224, 224, 224);
}

.membership-month ul li:last-child {
	border-right: none;
}

.membership-month ul li .membership-income-box {
	margin: 0 40px;
}

.membership-month ul li .membership-income-box p {
	font-size: 22px;
	font-weight: 500;
	color: rgb(104, 100, 100);
}

.membership-month ul li:last-child {
	text-align: right;
}

.membership-month ul li .membership-income-box h4 {
	font-size: 26px;
	font-weight: 500;
}

.herotabs-content-in .user-index h4.subtitle {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.running-total {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.running-total ul.running-total-in {
	border: 1px solid rgb(193, 238, 244);
	padding: 20px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	flex: 0 0 50%;
	justify-content: space-between;
}

.running-total ul.running-total-in li {
	display: flex;
	align-items: center;
}

.running-total ul.running-total-in p {
	font-size: 24px;
	margin-right: 10px;
	font-weight: 600;
}

.Request-btn {
	border: none;
	outline: none;
	padding: 12px 25px;
	color: #ffffff;
	border-radius: 10px;
	background: rgb(77, 208, 151);
	font-size: 24px;
	font-weight: 500;
}

.herotabs-content-in .user-index h4.subtitle .btn-red {
	border: none;
	outline: none;
	padding: 18px;
	color: #ffffff;
	border-radius: 10px;
	background: linear-gradient(to right, #eb5980, #f07f7e);
	font-size: 18px;
}

.userindex-slider.bg-none {
	padding: 0;
	background: transparent;
}

.tracking-tabs .contact-tab {
	padding: 0!important;
}

.tracking-tabs .nav-tabs .nav-link {
	color: #495057;
	background-color: rgb(193, 193, 193);
	border-color: transparent;
	margin: 0 5px;
}

.tracking-tabs .nav-tabs .nav-link.active {
	background: #ffffff;
}

.userindex-slider.bg-none.tracking-tabs .nav-tabs {
	border-bottom: 0;
	max-width: 100%;
	margin: auto;
}

.mydropdown {
	height: auto;
	padding: 5px;
	font-size: 12px;
	border: none;
	background-image: linear-gradient(to right, #f0907d, #f6c37b) !important;
	color: #ffffff;
	-webkit-appearance: button !important;
	background-position: center !important;
	background-size: contain !important;
}

.text-sky {
	color: #4dd0e4!important;
}

.energy-drop {
	margin-bottom: 20px;
}

.energy-drop select {
	height: auto;
	border-radius: 15px;
	outline: none;
	box-shadow: none;
	color: #3b58ac;
	font-size: 18px;
	font-weight: 500;
}

.energy-drop .col-md-4 {
	padding: 0 10px;
}

.admin-block {
	background-image: linear-gradient(to right, rgb(240, 142, 125), rgb(246, 196, 123));
	padding: 40px 0;
	position: relative;
}

.admin-block h1 {
	color: #ffffff;
	font-size: 62px;
}

.admin-block .admin-tiles {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.manage-client-dropdown-block .dropdown-blockin-left .blockin-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.manage-client-dropdown-block .dropdown-blockin-left .blockin-header h1 {
	font-size: 36px;
	color: #ffffff;
	margin: 0;
}

.hero-btnred {
	border: none;
	outline: none;
	padding: 12px 30px;
	color: #ffffff;
	border-radius: 10px;
	background: linear-gradient(to right, #eb5980, #f07f7e);
	font-size: 18px;
}

.manage-client-dropdown-block .Thompson-Broadley {
	padding: 20px;
	border: 1px solid #ffffff;
	border-radius: 30px;
}

.manage-client-dropdown-block .Thompson-Broadley .broadley-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ffffff;
}

.manage-client-dropdown-block .Thompson-Broadley .broadley-header h4 {
	margin-bottom: 0;
	color: #ffffff;
}

.manage-client-dropdown-block .Thompson-Broadley .broadley-ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
}

.manage-client-dropdown-block .row {
	align-items: flex-end;
}

.manage-client-dropdown-block {
	margin-bottom: 40px;
}

form.safewatch-form.active .form-group .form-control {
	border: 1.5px solid rgb(77, 208, 151);
}

form.safewatch-form .savebtn {
	display: none;
}

form.safewatch-form.active .editbtn-input {
	display: none;
}

form.safewatch-form.active .savebtn {
	display: block;
}

.btn-green-top {
	margin-top: 100px;
}

.btn-green-top .btngreen-save {
	border: none;
	outline: none;
	padding: 12px 30px;
	color: #ffffff;
	border-radius: 10px;
	background: linear-gradient(to right, rgb(77, 208, 151), rgb(77, 208, 151));
	font-size: 18px;
}

button.delbtn-red {
	border: none;
	outline: none;
	padding: 3px 7px;
	color: #ffffff;
	border-radius: 10px;
	background: linear-gradient(to right, #eb5980, #f07f7e);
	font-size: 14px;
	top: 10px;
	position: relative;
}

form.safewatch-form.job-forms .col-lg-1,
form.safewatch-form.job-forms .col-lg-3,
form.safewatch-form.job-forms .col-lg-2 {
	padding: 0 2px;
}

form.safewatch-form.job-forms .form-group label {
	position: absolute;
	z-index: 20;
	top: -7px;
	left: 11px;
	color: #47519d;
	/* font-size: 18px; */
	background: #ffffff;
	margin: 0;
	line-height: 16px;
	font-size: 8px;
	padding: 0 3px;
}

form.safewatch-form.job-forms .form-group .form-control {
	height: auto;
	padding: 10px 15px;
	border-radius: 15px;
	position: relative;
	border-top: 0;
	outline: none;
	box-shadow: none;
	border: 1px solid #e0e0e0;
	/* border-top: none; */
	font-size: 9px;
}

.col-type {
	margin-top: 15px;
}

.col_term {
	display: flex;
	align-items: flex-end;
}

.col_term .inner_term {
	width: 100%;
}

form.safewatch-form.job-forms .form-group .form-control::placeholder {
	font-size: 10px !important;
}

.new {
	height: auto;
	padding: 15px 20px;
	border-radius: 20px;
	position: relative;
	border-top: 0;
	outline: none;
	box-shadow: none;
	border: 1.5px solid #e0e0e0;
	/* border-top: none; */
	font-size: 18px;
}

.new .form-group {
	display: flex!important;
	margin-bottom: 0;
}

.new .form-group label {
	position: relative!important;
	top: 0!important;
	left: 0!important;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px!important;
	flex-direction: row-reverse;
	font-size: 18px!important;
	padding-bottom: 5px !important;
	border-bottom: 1px solid #e0e0e0;
}

.new .form-group input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.new .form-group label {
	position: relative!important;
	cursor: pointer;
}

.new .form-group label.formfield:before {
	display: none;
	;
}

.new .form-group label:before {
	content: '';
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #0079bf;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 10px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 5px;
}

.new .form-group input:checked+.new .form-group label:after {
	content: '';
	display: none;
	position: absolute;
	top: 3px;
	right: 18px;
	width: 7px;
	height: 15px;
	border: solid #0079bf;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.new .form-group label:visited:after {
	display: block;
}

.mine-checkbox {
	position: absolute!important;
	width: 100%;
	left: 0;
	padding: 0 15px;
}

.safewatch-form.clientfrm .checkmark {
	right: 0px;
}

.form-group.green-input input.form-control {
	border: 1px solid rgb(104, 215, 166)!important;
}

.form-group.input-red input.form-control {
	border: 1px solid rgb(235, 92, 128)!important;
}

.form-group.input-blue input.form-control {
	border: 1px solid rgb(92, 162, 235)!important;
}

.new-button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 0;
}

.new-button .btngreen {
	border: none;
	color: #ffffff;
	padding: 8px 15px;
	background: linear-gradient(to right, #4dd0a2, #4dd0db);
	font-size: 13px;
	border-radius: 9px;
}

.main-button-bar {
	position: relative;
	margin-top: 200px;
	justify-content: space-between;
}

.main-button-bar .barleft button.bg-btngreen {
	border: none;
	padding: 10px 45px;
	border-radius: 10px;
	background: linear-gradient(to right, #4dd0a2, #4dd0db);
	font-size: 22px;
	color: #ffffff;
	font-weight: 400;
}

.main-button-bar .barleft button {
	margin-right: 10px;
}

.mt-90 {
	margin-top: 90px;
}

.main-button-bar .barleft button.bg-btnred-graid {
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	background: linear-gradient(to right, #eb5980, #f07f7e);
	font-size: 22px;
	color: #ffffff;
	font-weight: 400;
}

ul.barright {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

ul.barright li {
	margin-left: 30px;
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 15px;
}

ul.barright li.border-red {
	border: 1px solid #eb5c80;
}

ul.barright li span {
	padding: 10px 15px;
	font-size: 20px;
	font-weight: 400;
}

ul.barright li.border-red span:first-child {
	height: 55px;
	display: flex;
	align-items: center;
	background: linear-gradient(to right, #eb5980, #f07f7e);
	border-radius: 13px;
	color: #ffffff;
}

ul.barright li.border-green span:first-child {}

ul.barright li.border-green span:first-child {
	background: #4dd097;
}

ul.barright li.border-green {
	border: 1px solid #4dd097;
}

ul.barright li.border-green span:first-child {
	background: #4dd097;
	color: #ffffff;
	border-radius: 13px;
}

@media (max-width: 1099px) {
	.herotabs-ul .herotabs-li {
		margin: 0 10px;
		max-width: 47%;
		width: 47%;
		margin: 0 auto 10px;
	}
	.herotabs-ul .herotabs-li .herotabs-active.active h5:after {
		display: none;
	}
	.herotabs-ul .herotabs-li .herotabs-active.active:before,
	.herotabs-ul .herotabs-li .herotabs-active.active:after {
		display: none;
	}
	.herotabs-ul .herotabs-li .herotabs-active.active {
		position: relative;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
}

@media (max-width: 768px) {
	.herotabs-ul .herotabs-li {
		max-width: 100%;
		width: 100%;
		margin: 0 auto 15px;
	}
}

.loadingoverlay_element {
	display: block;
	margin: 0 auto;
}


/*check box css start here The container */

.formfield {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.formfield input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: transparent;
	border: 1px solid #0079bf;
}

.formfield:hover input~.checkmark {
	background-color: transparent;
	border: 1px solid #0079bf;
}

.formfield input:checked~.checkmark {
	background-color: transparent;
	border: 1px solid #0079bf;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.formfield input:checked~.checkmark:after {
	display: block;
}

.formfield .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid #0079bf;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.formfield strong {
	float: left;
	text-align: left;
	clear: both;
	clear: both;
	width: 100%;
}


/*check box css end here The container */


/* Responsive View */

@media screen and (max-width: 767px) {
	form.login-form label {
		font-size: 20px;
		color: #ffffff;
		text-transform: capitalize;
	}
	.footer {
		text-align: center;
	}
	form.login-form p {
		font-size: 22px;
		margin-bottom: 20px;
		line-height: 30px;
	}
	.header .navbar-nav li {
		margin-left: 0px;
		height: 39px;
	}
	.header .navbar-nav li a.active {
		border-bottom: none;
	}
	.header .navbar-nav li:hover {
		border-bottom: none;
	}
	.header .navbar-nav .btn-pink {
		background: none;
	}
	.header .navbar .navbar-nav {
		margin-top: 20px;
	}
	.header .navbar .btn-yellow {
		background: none;
	}
	.banner.banner-in h1 {
		font-size: 26px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	section.banner {
		padding: 10rem 0rem;
	}
	.banner.banner-in .banner-btn .btn-yellow {
		padding: 10px 20px;
		font-size: 20px;
	}
	.herotabs-content-in .herotabs-content-left h2 {
		font-size: 34px;
	}
	.herotabs-content-in .herotabs-content-left ul h5 {
		background-image: linear-gradient(to bottom, #3741a2 -20%, #4cbed7);
		z-index: 1;
	}
}

.brdr {
	top: -31px;
}

form.safewatch-form .form-group.mine-checkbox.lt-txt label {
	left: 36px;
}

.meb-txt {
	background: #fff;
	top: -13px;
	position: relative;
	z-index: 9999;
	width: 137px !important;
	left: 20px;
}

.pt {
	margin-top: -10px;
}

.pb {
	padding: 18px 20px;
}

th.table-th.w-txt {
	width: 354px;
}

td.pll {
	text-align: center;
}

td.plll {
	padding-left: 52px;
}

.w-txt {
	width: 625px;
}

.w-txt2 {
	width: 153px;
	float: right;
}

.userindex-slider.bgclr {
	background: linear-gradient(to bottom, #3741a2 -20%, #4cbed7);
}

.tab-invoice {
	cursor: pointer;
}

.job-txt .userindex-slider {
	padding-top: 0px;
}

.job-txt .userindex-slider .slider-header {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #98cee2;
	position: relative;
}

.job-txt .job-txt-heading {
	display: flex;
	justify-content: space-between;
	color: #474b9a;
}

.job-txt title p {
	font-size: 20px;
	color: rgb(100, 100, 100);
}

.job-txt-heading h4 {
	color: rgb(71, 75, 154);
	font-size: 36px;
}

.job-txt-heading i {
	color: rgb(71, 75, 154);
	font-size: 20px;
}

.modal {
	z-index: 999999999999;
}

.in-model .title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}

.modal .title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
}

.in-model .modal-dialog {
	max-width: 1000px;
}

.view-btnn {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cntr-txt {
	text-align: center;
}
.banner-img .typing{
    width:73%;
}
@media screen and (max-width: 767px)  {
    .new-brand {
    width: 40%;
}
.herotabs-content-in .tab-img{
    margin-top:20px;
}
.slider-footer ul li{
    width:100%;
    display:block;
}
.container{
    width:100% !important;
}    
.container, .container-sm{
    max-width:100% !important;
}
body{
    overflow-x: hidden;
}
.banner.banner-in .banner-img{
    float: left;
    width: 100%;
    clear: both;
}
.container.footer .col-lg-12{
    padding-right:0px;
}
.footer p{
    font-size:12px;
}
    }
.end-date{
	height: auto;
    padding: 10px 15px;
    border-radius: 15px;
    position: relative;
    border-top: 0;
    outline: none;
    box-shadow: none;
    border: 1px solid #e0e0e0;
    /* border-top: none; */
	width:100%;
	display:block;
    font-size: 9px;
}
.end-date:-ms-input-placeholder{
   font-size:8px !important;
}
.end-date::-ms-input-placeholder{
	font-size:8px !important;
}
.end-date::placeholder{
	font-size:8px !important;
}
